<script>
	let dadoIzquierda = "assets/img/dice1.png";
	let dadoDerecha = "assets/img/dice2.png";
	let numero1 = 1;
	let numero2 = 2;
	
	function tirarDados() {
		numero1 = Math.floor(Math.random() * 6) + 1;
		numero2 = Math.floor(Math.random() * 6) + 1;
		dadoIzquierda = 'assets/img/dice'+ numero1 +'.png';
		dadoDerecha = 'assets/img/dice' + numero2 +'.png';
}
</script>

<main class="dado">
	<div class="jumbotron text-center" style="vertical-align: middle;">
		<button class="btn btn-success btn-lg" on:click={tirarDados}>Tirar Dados</button>
		<br />
		<img src={dadoIzquierda} alt="Dado1" class="img" />
		<img src={dadoDerecha} alt="Dado2" class="img" />
		{#if numero1 == numero2}
		<h1>
			<span class="badge bg-success">GANASTE</span>
		</h1>
		{/if}
	</div>
</main>

<style>
	.img {
		width: 300px;
		height: 300px;
		background-color: red;
		margin: 30px;
		border-radius: 20px;
	}
	.dado{
		background-color: black;
		height: 100vh;
	}
</style>
